.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  flex-direction: column;
  font-family: Merriweather, serif;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: inline-block;
}

.nav-logo {
  width: auto;
  height: 100%;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  object-fit: contain;
  object-position: 0% 50%;
  margin-top: 20px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.nav-link {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 10px 40px;
  display: block;
}

.heading-2 {
  color: #306aac;
  border-top: 0 solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.heading-2.secondary {
  color: #6b6b6b;
  font-style: italic;
}

.heading-2.title {
  font-family: Lato, sans-serif;
  font-size: 44px;
  font-weight: 900;
}

.navbar {
  z-index: auto;
  background-color: #333;
  font-family: Lato, sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
}

.brand {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: flex;
}

.field-label {
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.submit-button {
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: 0;
  padding-top: 9px;
  font-family: Lato, sans-serif;
  position: static;
}

.text-field {
  border-radius: 5px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.contact {
  background-color: #ccc;
  font-weight: 700;
}

.div-block-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "Left-Line Logo Right-Line"
  / 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-line {
  border: 1px solid #fff;
}

.button {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-radius: 5px;
  font-family: Lato, sans-serif;
}

.div-block-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: flex;
}

.footer {
  background-color: #fff;
  margin-top: auto;
}

.hero {
  max-width: 100%;
  letter-spacing: .04em;
  font-family: Gloock, sans-serif;
  font-size: 70px;
  line-height: 70px;
}

.div-block-6 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image {
  margin-top: 0;
}

.image.seventy-five {
  width: 75%;
  margin-top: 0;
}

.image.seventy-five.shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.image.border {
  border: 1px solid #d3d3d3;
  margin-top: 10px;
}

.image.shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.section {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.section.last {
  margin-bottom: 20px;
}

.project-description {
  margin-top: 10px;
  padding-top: 0;
  font-family: Merriweather, serif;
  font-size: 17px;
  line-height: 26px;
  list-style-type: decimal;
}

.project-heading-2 {
  flex: 0 auto;
  margin-top: 10px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
}

.project-list {
  font-size: 17px;
  list-style-type: disc;
}

.project-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.highlight {
  margin-top: 10px;
}

.highlight.blue {
  background-color: #89c0ff;
  margin-top: 20px;
}

.highlight.yellow {
  background-color: #ffe59d;
  margin-top: 20px;
}

.highlight.green, .highlight.pink {
  margin-top: 20px;
}

.highlight {
  padding: 20px;
}

.highlight.green {
  background-color: #a9e4d9;
}

.highlight.pink {
  background-color: #ede4f5;
}

.blue-highlight {
  background-color: #89c0ff;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.full-width-image {
  max-width: 100%;
  border: 1px solid #d3d3d3;
  margin-top: 0;
  margin-bottom: 0;
}

.subheading {
  max-width: 100%;
  letter-spacing: .01em;
  font-family: Merriweather, serif;
  font-size: 28px;
  font-weight: 400;
}

.hero-title {
  max-width: 60%;
  font-size: 70px;
  line-height: 80px;
}

.rich-text-block {
  font-size: 18px;
}

.cell {
  justify-content: center;
  align-items: center;
}

.cell-2 {
  justify-content: flex-start;
}

.quick-stack-2 {
  padding-left: 0;
  padding-right: 0;
}

.yellow-highlight {
  background-color: #ffe59d;
  padding: 20px;
}

.container-4 {
  margin-bottom: 20px;
}

.cell-3 {
  align-items: center;
}

.quick-stack-3 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-left: 0;
  padding-right: 0;
}

.seventy-five-image {
  max-width: 75%;
  border: 1px solid #d3d3d3;
}

.cell-4 {
  align-items: center;
}

.project-quick-stack {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 0;
}

.pink-highlight {
  background-color: #ede4f5;
  padding: 20px;
}

.cell-9 {
  justify-content: flex-start;
}

.container-6 {
  width: 100%;
}

.cell-10 {
  align-items: center;
}

.italic-text {
  font-size: 24px;
}

.text-highlight {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.grid-5 {
  max-height: 600px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template: "Left Right"
  / auto auto;
  grid-auto-columns: 1fr;
  align-content: stretch;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  display: grid;
  overflow: hidden;
}

.image-5, .image-6 {
  max-height: 600px;
}

.list-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.heading-3 {
  margin-top: 0;
}

.quick-stack-6 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.quick-stack-7 {
  flex: 1;
  padding: 0;
}

.heading-4 {
  text-align: left;
  align-self: center;
}

.list-item-2, .list-item-3, .list-item-4, .list {
  list-style: decimal;
}

.youtube {
  margin-top: 10px;
}

.body, .body-2 {
  flex-direction: column;
  display: flex;
}

.quick-stack-8 {
  padding-left: 0;
  padding-right: 0;
}

.section-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.cell-11 {
  justify-content: center;
}

.footer-icon {
  max-width: 24px;
}

.cell-12 {
  justify-content: center;
  align-items: flex-end;
}

.text-block {
  color: #8d8d8d;
}

.project-grid-title {
  justify-content: center;
}

.quick-stack-10 {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-title {
    max-width: 80%;
    font-size: 54px;
    line-height: 60px;
  }

  .icon {
    color: #fff;
  }

  .quick-stack-10 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .project-heading-2 {
    font-size: 20px;
    line-height: 24px;
  }

  .subheading {
    font-size: 24px;
    line-height: 32px;
  }

  .hero-title {
    max-width: 100%;
  }

  .quick-stack-5 {
    padding: 0;
  }

  .section-2, .quick-stack-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-7 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    border-top: 1px solid #c4c4c4;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-2 {
    max-width: 100%;
    font-size: 32px;
  }

  .heading-2.secondary {
    font-size: 18px;
  }

  .heading-2.title {
    font-size: 28px;
  }

  .brand {
    max-width: 75%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }

  .submit-button {
    text-align: left;
  }

  .div-block-5 {
    justify-content: center;
    padding-top: 20px;
    display: flex;
  }

  .div-block-6 {
    display: block;
  }

  .section {
    margin-left: 20px;
    margin-right: 20px;
  }

  .project-description {
    font-family: Merriweather, serif;
    font-size: 17px;
    line-height: 26px;
  }

  .project-heading-2 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
  }

  .subheading {
    font-size: 18px;
    line-height: 26px;
  }

  .hero-title {
    font-size: 35px;
    line-height: 40px;
  }

  .quick-stack-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .quick-stack-5 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .cell-11 {
    align-items: center;
  }

  .footer-icon {
    max-width: 24px;
  }

  .quick-stack-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .cell-12 {
    align-items: center;
  }
}

#w-node-_175cdc6b-16d6-6374-6ef7-5c7dbb1bbf8e-6e4c2868 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_8fe05296-9038-b95d-6430-a65a2ce07814-6e4c2868 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_8fe05296-9038-b95d-6430-a65a2ce07815-6e4c2868 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c82d62d7-72f5-ec25-6cd7-14e1fd4984ad-6e4c2868 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-_8fe05296-9038-b95d-6430-a65a2ce07816-6e4c2868 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_47545626-254a-2978-766a-abce93be2f22-6e4c2868 {
  grid-template-rows: auto 75px auto;
  grid-template-columns: 1fr;
}

#w-node-_129fca41-04d3-846e-4393-0762bc6d279c-6e4c2868 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_392e56e6-54fb-810a-f12d-26151ddc5593-6e4c2868 {
  grid-template-rows: auto 75px auto;
  grid-template-columns: 1fr;
  display: grid;
}

#w-node-_392e56e6-54fb-810a-f12d-26151ddc5594-6e4c2868, #w-node-_392e56e6-54fb-810a-f12d-26151ddc5597-6e4c2868, #w-node-_392e56e6-54fb-810a-f12d-26151ddc559a-6e4c2868, #w-node-_26085a96-025e-6aa0-ba5a-dcba2b14e47d-6e4c2868 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7daf1d66-ce07-8001-bbe9-d9076d80e9d3-6e4c2868 {
  grid-template-rows: auto 75px auto;
  grid-template-columns: 1fr;
  display: grid;
}

#w-node-_7daf1d66-ce07-8001-bbe9-d9076d80e9d4-6e4c2868, #w-node-_7daf1d66-ce07-8001-bbe9-d9076d80e9d7-6e4c2868, #w-node-_7daf1d66-ce07-8001-bbe9-d9076d80e9da-6e4c2868 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_12cb7e33-3ec8-b725-5da0-e1910aaef8e4-36d960df, #w-node-f0014e31-26ee-7f09-c95c-597d7d2f9d13-36d960df {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_88ed7cd3-c8f3-4b19-4f5b-aada784dc2d8-d019db50 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-_376e4fbe-73b4-a48c-27d7-f96dfc7d79a8-d019db50 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bea734d4-543e-83e8-70f7-886b9eab494f-d019db50 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-bea734d4-543e-83e8-70f7-886b9eab4950-d019db50, #w-node-bea734d4-543e-83e8-70f7-886b9eab4951-d019db50 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d3dd64c8-98a3-6cc5-18a4-88a06d96c34d-d019db50 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-d3dd64c8-98a3-6cc5-18a4-88a06d96c34e-d019db50 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bb971636-c87a-e211-b7be-b3cb5811bec2-d019db50 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-bb971636-c87a-e211-b7be-b3cb5811bec3-d019db50 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_84e4273b-ebf9-18f0-0a14-395cbfa05fa1-d019db50 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_3f8d4361-1ff4-817e-6e6c-8148bfca1b05-d019db50, #w-node-_8acb528b-56d1-1f19-e825-e81197a99dc6-d019db50 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_55660b1f-8285-80dd-d715-b1f09856f66e-d019db50 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_55660b1f-8285-80dd-d715-b1f09856f66f-d019db50, #w-node-_55660b1f-8285-80dd-d715-b1f09856f671-d019db50, #w-node-_85cb9583-91da-eb09-35d0-5bd7eba94a39-d019db50 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_88ed7cd3-c8f3-4b19-4f5b-aada784dc2d8-3ee763f1 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-_376e4fbe-73b4-a48c-27d7-f96dfc7d79a8-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bea734d4-543e-83e8-70f7-886b9eab494f-3ee763f1 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-bea734d4-543e-83e8-70f7-886b9eab4950-3ee763f1, #w-node-bea734d4-543e-83e8-70f7-886b9eab4951-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_411d6631-eec5-6ed2-b926-9014548e4f32-3ee763f1 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-_22b8dc52-a34d-34d9-4354-d2ca22d948da-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5f19f7df-ef96-9a8c-a6be-4e2061ebb1c4-3ee763f1 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-_5f19f7df-ef96-9a8c-a6be-4e2061ebb1c5-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d3dd64c8-98a3-6cc5-18a4-88a06d96c34d-3ee763f1 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-d3dd64c8-98a3-6cc5-18a4-88a06d96c34e-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_963e5094-823f-ddac-2fef-e73d8086ca98-3ee763f1 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-_963e5094-823f-ddac-2fef-e73d8086ca99-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_16421f75-ea69-faad-4fa7-9fb7ce0e4e11-3ee763f1 {
  grid-template-rows: minmax(auto, 600fr);
  grid-template-columns: 1fr 1fr;
}

#w-node-c9887c30-e8da-73a5-5d5a-03ee16b5ce5f-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9fbc6221-a63a-3aec-fc0f-804befacd878-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-c8cffe82-71d9-5f82-28a6-5947e52050bd-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e65b571a-4d86-58cc-6e8c-69a093d87fae-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-f0de9735-c0bd-e833-73bc-d3f4eed6a8eb-3ee763f1 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-f0de9735-c0bd-e833-73bc-d3f4eed6a8ec-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_64ec4bfd-98cc-2531-02ec-618a7b55d638-3ee763f1 {
  grid-template-rows: minmax(auto, 600fr);
  grid-template-columns: 1fr 1fr;
}

#w-node-_64ec4bfd-98cc-2531-02ec-618a7b55d639-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_64ec4bfd-98cc-2531-02ec-618a7b55d63a-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-_64ec4bfd-98cc-2531-02ec-618a7b55d63b-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_64ec4bfd-98cc-2531-02ec-618a7b55d63c-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_224ee88d-a410-46b4-1b0a-1f582b060448-3ee763f1 {
  grid-template-rows: minmax(auto, 600fr);
  grid-template-columns: 1fr;
}

#w-node-_224ee88d-a410-46b4-1b0a-1f582b060449-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_224ee88d-a410-46b4-1b0a-1f582b06044a-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-_12040c08-4eea-3cde-3bac-ed4cee4a3ab8-3ee763f1 {
  grid-template-rows: minmax(auto, 600fr);
  grid-template-columns: 1fr 1fr;
}

#w-node-_12040c08-4eea-3cde-3bac-ed4cee4a3ab9-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_12040c08-4eea-3cde-3bac-ed4cee4a3aba-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-_12040c08-4eea-3cde-3bac-ed4cee4a3abb-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_12040c08-4eea-3cde-3bac-ed4cee4a3abc-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-f99651ad-aada-b512-c7d0-5977e01dc5e9-3ee763f1 {
  grid-template-rows: minmax(auto, 600fr);
  grid-template-columns: 1fr 1fr;
}

#w-node-f99651ad-aada-b512-c7d0-5977e01dc5ea-3ee763f1, #w-node-f99651ad-aada-b512-c7d0-5977e01dc5ec-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f99651ad-aada-b512-c7d0-5977e01dc5ed-3ee763f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_88ed7cd3-c8f3-4b19-4f5b-aada784dc2d8-7ccccce2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-_376e4fbe-73b4-a48c-27d7-f96dfc7d79a8-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bea734d4-543e-83e8-70f7-886b9eab494f-7ccccce2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-bea734d4-543e-83e8-70f7-886b9eab4950-7ccccce2, #w-node-bea734d4-543e-83e8-70f7-886b9eab4951-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9f9ab21a-624a-5205-955f-d693b8e7fea2-7ccccce2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_9f9ab21a-624a-5205-955f-d693b8e7fea3-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-cfbc4f30-dc47-a306-5af4-dae613f82079-7ccccce2 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-cfbc4f30-dc47-a306-5af4-dae613f8207a-7ccccce2, #w-node-a363472f-e3a8-9c04-8d9b-c1a0e7f081d1-7ccccce2, #w-node-be2cef93-edc1-7722-a993-9cea64ac4883-7ccccce2, #w-node-_9f9ab21a-624a-5205-955f-d693b8e7fea4-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3521eb4f-f028-4433-e134-d167245333aa-7ccccce2 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-_3521eb4f-f028-4433-e134-d167245333ab-7ccccce2, #w-node-_3521eb4f-f028-4433-e134-d167245333ae-7ccccce2, #w-node-_3521eb4f-f028-4433-e134-d167245333b1-7ccccce2, #w-node-e197f258-0394-8e48-b047-3e510dadd213-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6d6b2a91-3d38-9711-28c2-da583b096e4d-7ccccce2 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-_6d6b2a91-3d38-9711-28c2-da583b096e4e-7ccccce2, #w-node-_6d6b2a91-3d38-9711-28c2-da583b096e51-7ccccce2, #w-node-_6d6b2a91-3d38-9711-28c2-da583b096e55-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da91-7ccccce2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da92-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da93-7ccccce2 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da94-7ccccce2, #w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da97-7ccccce2, #w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da9d-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-cee3e8c2-993e-eb3d-2368-2739c91a6104-7ccccce2 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-cee3e8c2-993e-eb3d-2368-2739c91a6105-7ccccce2, #w-node-cee3e8c2-993e-eb3d-2368-2739c91a6108-7ccccce2, #w-node-_5bcdb7cc-25ee-3155-7835-19c99b41daa9-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-dde7d883-d989-45d4-5072-f48db9cb989c-7ccccce2 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-dde7d883-d989-45d4-5072-f48db9cb989d-7ccccce2, #w-node-dde7d883-d989-45d4-5072-f48db9cb98a0-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ba2c1aaa-4dc2-9fb5-3367-c85ee4abaf5c-7ccccce2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-ba2c1aaa-4dc2-9fb5-3367-c85ee4abaf5d-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bb971636-c87a-e211-b7be-b3cb5811bec2-7ccccce2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-bb971636-c87a-e211-b7be-b3cb5811bec3-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_84e4273b-ebf9-18f0-0a14-395cbfa05fa1-7ccccce2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_3f8d4361-1ff4-817e-6e6c-8148bfca1b05-7ccccce2, #w-node-_8acb528b-56d1-1f19-e825-e81197a99dc6-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_52ee3669-8a95-c239-8fd7-5951dd8cc476-7ccccce2 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_52ee3669-8a95-c239-8fd7-5951dd8cc477-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d0bd40d5-0307-c4b6-a136-fabdac4380e1-7ccccce2 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-d0bd40d5-0307-c4b6-a136-fabdac4380e2-7ccccce2, #w-node-cc9f7f34-4893-d614-0fc3-e8e90be51e2a-7ccccce2, #w-node-_2380148c-c73b-da8f-d42f-0af5172fb550-7ccccce2, #w-node-_52ee3669-8a95-c239-8fd7-5951dd8cc478-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_11825cb5-23ac-f196-b4c2-39495797a97a-7ccccce2 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-_11825cb5-23ac-f196-b4c2-39495797a97b-7ccccce2, #w-node-_11825cb5-23ac-f196-b4c2-39495797a97e-7ccccce2, #w-node-_11825cb5-23ac-f196-b4c2-39495797a980-7ccccce2, #w-node-_5dc6f842-bb2b-dcfc-802a-bc67abd915cb-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bad4f53f-2380-d63e-0797-80134560989a-7ccccce2 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-bad4f53f-2380-d63e-0797-80134560989b-7ccccce2, #w-node-bad4f53f-2380-d63e-0797-80134560989e-7ccccce2, #w-node-bad4f53f-2380-d63e-0797-8013456098a0-7ccccce2, #w-node-_3b767d3b-4268-57cf-4735-8b9f70149e92-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_131cd2be-8308-a360-d744-23303f3c8fc8-7ccccce2 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-_131cd2be-8308-a360-d744-23303f3c8fc9-7ccccce2, #w-node-_131cd2be-8308-a360-d744-23303f3c8fcc-7ccccce2, #w-node-_131cd2be-8308-a360-d744-23303f3c8fce-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1fc565b0-aa34-387a-0ea7-1ee814810a24-7ccccce2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_1fc565b0-aa34-387a-0ea7-1ee814810a25-7ccccce2, #w-node-_1fc565b0-aa34-387a-0ea7-1ee814810a27-7ccccce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_88ed7cd3-c8f3-4b19-4f5b-aada784dc2d8-60de90ac {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-_376e4fbe-73b4-a48c-27d7-f96dfc7d79a8-60de90ac {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bea734d4-543e-83e8-70f7-886b9eab494f-60de90ac {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-bea734d4-543e-83e8-70f7-886b9eab4950-60de90ac, #w-node-bea734d4-543e-83e8-70f7-886b9eab4951-60de90ac {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da91-60de90ac {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da92-60de90ac {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da93-60de90ac {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da94-60de90ac, #w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da97-60de90ac, #w-node-_5bcdb7cc-25ee-3155-7835-19c99b41da9d-60de90ac {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-cee3e8c2-993e-eb3d-2368-2739c91a6104-60de90ac {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-cee3e8c2-993e-eb3d-2368-2739c91a6105-60de90ac, #w-node-cee3e8c2-993e-eb3d-2368-2739c91a6108-60de90ac, #w-node-_5bcdb7cc-25ee-3155-7835-19c99b41daa9-60de90ac {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-dde7d883-d989-45d4-5072-f48db9cb989c-60de90ac {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-dde7d883-d989-45d4-5072-f48db9cb989d-60de90ac, #w-node-dde7d883-d989-45d4-5072-f48db9cb98a0-60de90ac {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_84e4273b-ebf9-18f0-0a14-395cbfa05fa1-60de90ac {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_3f8d4361-1ff4-817e-6e6c-8148bfca1b05-60de90ac, #w-node-_8acb528b-56d1-1f19-e825-e81197a99dc6-60de90ac {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1fc565b0-aa34-387a-0ea7-1ee814810a24-60de90ac {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_1fc565b0-aa34-387a-0ea7-1ee814810a25-60de90ac, #w-node-_1fc565b0-aa34-387a-0ea7-1ee814810a27-60de90ac, #w-node-_04e83b36-cb0d-c12b-c2be-eca8b452f0e0-b452f0d9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-dab4e8a6-a92a-cb7b-7561-239f95bcb6eb-f98c608d {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-dab4e8a6-a92a-cb7b-7561-239f95bcb6ec-f98c608d, #w-node-dab4e8a6-a92a-cb7b-7561-239f95bcb6ed-f98c608d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_8fe05296-9038-b95d-6430-a65a2ce07814-6e4c2868 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-_8fe05296-9038-b95d-6430-a65a2ce07815-6e4c2868, #w-node-_8fe05296-9038-b95d-6430-a65a2ce07816-6e4c2868 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_47545626-254a-2978-766a-abce93be2f22-6e4c2868 {
    grid-template-rows: auto 50px auto;
    grid-template-columns: 1fr;
  }

  #w-node-_129fca41-04d3-846e-4393-0762bc6d279c-6e4c2868 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_392e56e6-54fb-810a-f12d-26151ddc5593-6e4c2868 {
    grid-template-rows: auto 50px auto;
    grid-template-columns: 1fr;
  }

  #w-node-_26085a96-025e-6aa0-ba5a-dcba2b14e47d-6e4c2868 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_7daf1d66-ce07-8001-bbe9-d9076d80e9d3-6e4c2868 {
    grid-template-rows: auto 50px auto;
    grid-template-columns: 1fr;
  }

  #w-node-_12cb7e33-3ec8-b725-5da0-e1910aaef8e4-36d960df, #w-node-bea734d4-543e-83e8-70f7-886b9eab494f-d019db50 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-bea734d4-543e-83e8-70f7-886b9eab4950-d019db50, #w-node-bea734d4-543e-83e8-70f7-886b9eab4951-d019db50 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-bea734d4-543e-83e8-70f7-886b9eab494f-3ee763f1 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-bea734d4-543e-83e8-70f7-886b9eab4950-3ee763f1, #w-node-bea734d4-543e-83e8-70f7-886b9eab4951-3ee763f1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-bea734d4-543e-83e8-70f7-886b9eab494f-7ccccce2 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-bea734d4-543e-83e8-70f7-886b9eab4950-7ccccce2, #w-node-bea734d4-543e-83e8-70f7-886b9eab4951-7ccccce2 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-bea734d4-543e-83e8-70f7-886b9eab494f-60de90ac {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-bea734d4-543e-83e8-70f7-886b9eab4950-60de90ac, #w-node-bea734d4-543e-83e8-70f7-886b9eab4951-60de90ac {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-dab4e8a6-a92a-cb7b-7561-239f95bcb6eb-f98c608d {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-dab4e8a6-a92a-cb7b-7561-239f95bcb6ec-f98c608d {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-dab4e8a6-a92a-cb7b-7561-239f95bcb6ed-f98c608d {
    order: -9999;
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


